.home-container {
    text-align: center;
    white-space: pre-wrap;
    // background-color: rgba(26, 27, 29, 0.9);
    // padding: 2rem !important;
    margin: 2rem auto;
    max-width: 50%;
    // max-height: 70%;
}