.app {
  background-color: #1A1B1D;
  height: 100%;
  display: flex;
  flex-direction: column;;

  .navbar {
    min-height: 71px !important;
  }
}

.user-menu {
  display: flex !important;
  justify-content: center !important;
}

.user-controls {
  display: flex;
  align-items: center;

  .welcome-text {
    margin-right: 1rem;
  }
}

.menu {
  margin-bottom: 0 !important;
}

.home-link {
  display: flex;
  align-items: center;

  .item {
    &:hover, &.active {
      background-color: inherit !important;
    }
  }
}

.routes-container {
  height: 100%;
  overflow-y: auto;
}

.app-title {
  position: absolute;
  padding-right: 12rem;
  padding-top: 1.3rem;
  width: 1%;
  margin: 0 auto;
  left: 0;
  right: 0;
  font-family: 'Bowlby One', 'cursive';
}

@media screen and (max-width: 1000px) {
  .app-title {
      display: none !important;
  }
}
